*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: #DDDDDD ; */

    
}


.container h2{
    font-size: 40px;
    text-align: center;
    padding: 15px;
    color: #113C4A;
    text-shadow: 0 1px 2px #113C4A;
}
.inputClass{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    
    /* border: 2px solid black; */
    
    /* font-weight: bold; */
}
.inputClass input{
    width: 220px;
    height: 33px;
    padding: 10px;
    text-align: center;
    /* border:  #113C4A; */
    border-color: #113C4A;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3F7B70;
    border: none;
    /* color: #ffffff; */
    box-shadow: 2px 2px 2px #3F7B70;
}
::placeholder{
    color: #DDDDDD;
}
.inputClass button{
    width: 220px;
    height: 33px;
    /* padding: 10px; */
    border: none ;
    border-radius: 10px;
    font-size: 16px;
    background-color: #3F7B70;
    font-weight: bold;
    box-shadow: #3F7B70 3px 3px 3px;
    color: #DDDDDD;
}


.rankContainer{
    /* border:  2px solid orange; */
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 60px;
    height: 220px; 
}
.rank{
    /* border: 2px solid blue; */
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rankContainer > div:nth-of-type(1) {
    padding: 90px;
    box-shadow: 10px 10px 5px rgb(157, 157, 157);
    background-color: #3F7B70;
    color: #DDDDDD;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5%;
    order: 2;
    .throphycolor{
        color: goldenrod;
    } 
}

.rankContainer > div:nth-of-type(2) {
    box-shadow: 10px 10px 5px rgb(157, 157, 157);
    background-color: #3F7B70;
    color: #DDDDDD;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5%;
    order: 3;
    .throphycolor{
        color: rgb(148, 148, 148);
    } 
}
.rankContainer > div:nth-of-type(3) {
    box-shadow: 10px 10px 5px rgb(157, 157, 157);
    background-color: #3F7B70;
    color: #DDDDDD;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5%;
    order: 1;
    .throphycolor{
        color: #4e4535;
    } 
}
.throphycolor i{
    size : 50px;
}

.section2{
    
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-direction: column;
    text-align: center;
    /* border: 2px solid black; */

}
.playerInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    /* border: 2px solid black; */
    height: 80px;
    width: 90%;
    background-color: #3F7B70;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;
    color: #DDDDDD;
    border-radius: 5px;
    box-shadow: gray 2px 2px 2px;
    text-align: center;
    /* cursor: pointer; */
}
.playerScore{
    display: flex;
    align-items: center;
    gap: 80px;
    cursor: pointer;
}

.playerInfo > span{
    /* border: 2px solid yellow; */
    width: 100px;
    text-align: start;
}